@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: rgb(255, 240, 255);
  --secondary-color: #7e2a53;
  --tertiary-color: #ba71a2;
  --text-dark: #461d3a;
  --text-light: #475569;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Rubik", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 5rem 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s solid;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem 1rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.nav_logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.nav_logo a span {
  padding: 3px 7px;
  margin-inline: 5px;
  font-size: 1rem;
  background-color: var(--text-dark);
  border-radius: 100%;
}

.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav_links {
  font-size: 1.2rem;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-weight: 500;
  color: var(--white);
  transition: 0.3s ;
}

.nav_links a:hover {
  color: var(--white);
}

.nav_btns {
  display: none;
}

.header_container{
    display: grid;
    gap: 5rem;
}

.header_image img{
    max-width: 550px;
    margin-inline: auto;
}

.header_content{
    text-align: center;
}
.header_content h2{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-dark);
}

.header_content h1{
    margin-bottom: 1rem;
    font-size: 4.25rem;
    font-weight: 600;
    font-family: var(--header-font);
    line-height: 5rem;
    color: var(--text-dark);
}
.header_content p{
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-light);
}

.header_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header_btns img{
    max-width: 50px;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--text-dark);
  padding: 1rem;
  background-color: var(--secondary-color);
}

.heading span{
  color: var(--tertiary-color);
}

.about .row{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2.5rem ;
  padding-bottom: 3rem;
}

.about .row .img-container{
  flex: 2 2 40rem;
  position: relative;
}

.about .row .img-container img{
  width: 80%;
  border: 1.5rem solid var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem var(--text-light);
  height: 100%;
  object-fit: cover;
}

.about .row .img-container h3{
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  font-size: 3rem;
  background-color: var(--white);
  width: 80%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content{
  flex: 1 1 30rem; 
  padding: .2rem;
}
.about .row .content a{
  padding: 1rem;
  color: var(--text-dark);
  font-weight:bold;
}

.about .row .content h3{
  font-size: 2rem;
  color: var(--text-light);
}

.about .row .content p{
  font-size: 1rem;
  color: var(--tertiary-color);
  padding:  .5rem 0;
  padding-top: 2rem;
  line-height: 1.5;
}
.footer{
  margin-bottom: 10rem;
}
.box{
  border-radius: 20px;
  justify-content: space-between;
  font-size: 2rem;
  padding: 2rem 2rem;
  display: flex;
  background-color: var(--text-dark);
  color: var(--white);
}
.box h3{
  margin-left: 5rem;
  margin-right: 5rem;
}

.info_contato{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info_demais a{
  color: var(--text-dark);
  font-weight: 500;
  list-style: none;
  display: flex;
}
.info_redes a{
  color: var(--text-dark);
  font-weight: 500;
  list-style: none;
  width: 2rem;
  display: flex;
}
.info_apps img{
  padding: .20rem;
  display: flex;
}
.footer_fim{
  padding-top: 5rem ;
  text-align: center;
}
@media (width > 768px) {
 nav {
    background-color: var(--secondary-color);
    position: static;
    padding-block: 1rem 1rem;
    padding-inline: 1rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav_logo a {
    font-size: 2rem;
    color: var(--text-dark);
    transition: 0.3s;
  }

  .nav_logo a:hover {
    color: var(--white);
    transition: 0.3s;
  }

  .nav_logo a span {
    padding: 6px 9px;
    color: var(--white);
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav_links a {
    font-weight: bold;
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 2px solid transparent;
  }

  .nav_links a:hover{
    border-color: var(--white);
  }

  .nav_btns{
    background-color: var(--secondary-color);
    display: flex;
    flex: 1;
  }
  .nav_btns .btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--text-dark);
    background-color: var(--secondary-color);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ;
    cursor: pointer;
  }

  .nav_btns .btn:hover{
    color: var(--white);
    background-color: var(--text-dark);
  }

  .header_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header_image {
    grid-area: 1/2/2/3;

  }

  .header_content {
    text-align: left;
  }

  .header_btns {
    justify-content: flex-start;
  }
  .heading{
    font-size: 3rem;
  }
  .about .row .content a{
    padding: .75rem 2rem ;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 5rem;
    color: var(--text-dark);
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }
  .about .row .content a:hover{
    color: var(--white);
    background-color: var(--text-dark);
  }

  .box h3{
    padding: .75rem 5rem ;
    outline: none;
    border: none;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;   
  }
  .box h3:hover{
    font-weight: 800;
    color: var(--tertiary-color);   
  }
}